body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
h3{
	color:white;
}
.top{
	background-color: green;
	color: white;
	font-size: large;
	width: 500px;
	border: hidden;
	padding:10px 10px 10px 10px;
}